html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* nunito-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/nunito-sans-v15-latin-regular.woff2) format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/yeseva-one-v20-latin-regular.woff2) format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Nunito Sans";
  font-family: sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}
button {
  text-transform: uppercase;
}
/* header styles start */
.header {
  max-width: 1438px;
  height: 83px;
  margin: 0 auto;
  background-color: #131313;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.wrapper {
  margin: 0 auto;
}
.header__wrapper {
  position: relative;
  width: 1256px;
  height: 37px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.header__logo-link {
  font-family: sans-serif;

  font-size: 11px;
  color: #e3b873;
  padding-right: 95px;
}
.header__nav {
  padding-right: 333px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  font-size: 11px;
}
.header__item {
  list-style-type: none;
  padding-right: 47px;
}
.header__link:hover,
.header__link:active,
.header__link:focus {
  opacity: 0.65;
}
/* .header__link:first-child { Спросить почему не выделяется первый Линк*/

/* color: #e3b873; */
/* } */

.header__fhone {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.header_fhone-number {
  font-family: sans-serif;
  font-size: 11px;
  color: #e3b873;
  padding-right: 45px;
}
.header_fhone-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 161px;
  height: 37px;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
}
.header_fhone-link:hover,
.header_fhone-link:active,
.header_fhone-link:focus {
  opacity: 0.65;
}

.header_fhone-request {
  font-family: sans-serif;
  font-style: italic;
  font-size: 11px;
}
/* header styles end */

/* turnkey styles start */
.main {
  max-width: 1438px;
  margin: 0 auto;
}
.turnkey {
  position: relative;
  width: 100%;
  height: 707px;
  background: url(../images/jpg/turnkey.jpg);
  z-index: -2;
}

.turnkey::after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
/* Сделал затемнение, но теперь не выделяется ничего кроме основного блока, к внутренним не подобраться??? */

.turnkey__wrapper {
  max-width: 676px;
  padding-top: 194px;
  padding-left: 134px;
}

.turnkey__title {
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  padding-bottom: 19px;
}
.city_color {
  color: #e3b873;
}
.turnkey__subtitle {
  max-width: 504px;
  font-size: 22px;
  line-height: 36px;
  padding-bottom: 41px;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}
.search-form__submit {
  width: 207px;
  height: 51px;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  margin-right: 20px;
}

.search-form__submit:hover {
  background: #aa8a56;
}

.search-form__field {
  width: 207px;
  height: 51px;
  background: transparent;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

/* turnkey styles end */

/* completed-project styles start */
.completed-project {
  position: relative;
  width: inherit;
  height: 1050px;
  background: #131313;
}

.completed-project__wrapper {
  max-width: 1171px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}
.completed-project__wrapper_text {
  width: 442px;
  height: 390px;
  padding-top: 176px;
  margin-right: 50px;
}

.completed-project__title {
  width: 253px;
  height: 66px;
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873;
  margin-bottom: 34px;
}
.completed-project__subtitle {
  width: 442px;
  height: 86px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 42px;
}

.completed-project_block1 {
  width: 340px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 1;
}

.completed-project_block2 {
  width: 340px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 1;
}

.block__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #e3b873;
  padding-bottom: 9px;
}
.block__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}

.completed__arrow {
  padding-top: 85px;
}

.completed__arrow_left {
  padding-right: 29px;
}

.completed__arrow_left:hover,
.completed__arrow_left:active,
.completed__arrow_left:focus {
  opacity: 0.65;
}

.completed__arrow_right {
  padding-left: 29px;
}

.completed__arrow_right:hover,
.completed__arrow_right:active,
.completed__arrow_right:focus {
  opacity: 0.65;
}

.completed__nav_list {
  display: flex;
  flex-wrap: wrap;
}

.completed__nav_item {
  list-style-type: none;
  margin-right: 60px;
  margin-top: 108px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.first {
  border-bottom: 1px solid #e3b873;
  padding-bottom: 6px;
}

.completed__nav_link {
  color: #e3b873;
}

.completed__nav_link:hover,
.completed__nav_link:focus,
.completed__nav_link:active {
  opacity: 0.65;
}

.completed__fhoto {
  max-width: 679px;
  height: 472px;
  margin-top: 52px;
}

.online_control {
  position: absolute;
  top: 750px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  justify-content: center;
}

.online_control_text {
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.online_control-img {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 20px;
}

.online_control_dash {
  padding-right: 9px;
}

.online_control_pic {
  padding-right: 9px;
}
/* completed-project styles end */

/* repair styles start */

.repair {
  width: inherit;
  margin: 0 auto;
}

.repair__wrapper {
  position: relative;
  width: 817px;
  margin: 0 auto;
}

.repair__fhoto {
  position: absolute;
  transform: translateY(-50%);
}

.repair__dash {
  display: flex;
  padding-top: 270px;
}

.repair_dash {
  margin: 0 auto;
  width: 55px;
}
.repair__text {
  margin: 0 auto;
  padding-top: 34px;
  width: 681px;
  display: block;

  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
  color: #363636;
  padding-bottom: 93px;
}

.search-form__repair_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 39px;
}

.search-form__repair_block {
  position: relative;
}

.search-form__input {
  width: 231px;
  height: 51px;
  border: 0;

  border-bottom: 1px solid #363636;
  background-color: transparent;
}
.search-form__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;

  color: #fff;
}

.search-form__label {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}

.agree {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #181818;

  background: transparent url(../images/svg/check-mark.svg) no-repeat 230px;
  margin-bottom: 147px;
}

.types-of-repair__title {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #181818;
  padding: 13px;
}

.tools {
  display: flex;
  justify-content: center;
  margin-bottom: 31px;
}

.types-of-repair_pic {
  padding-left: 9px;
  padding-right: 13px;
}

.types-of-repair__wrapper {
  width: 1236px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 0 auto;
}

.repair_text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  width: 330px;
  transform: translateY(-50%);
  background-color: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.repair_title {
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  padding: 25px 0 13px 34px;
}

.repair_list {
  font-size: 13px;
  line-height: 27px;
  color: #959595;
  padding-left: 45px;
  padding-bottom: 23px;
}

.repair_price {
  width: 228px;
  height: 54px;
  background: #e3b873;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 14px;
}

.repair_item {
}

/* repair styles end */

/* request styles start */

.request__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.request__step {
  width: 718px;
  height: 645px;
  background: url(../images/jpg/step-fon.jpg);
}

.request__step_item {
  font-size: 18px;
  line-height: 19px;
  color: #363636;
  padding-top: 114px;
  margin-left: 265px;
}

.request__info {
  width: 506px;
  height: 509px;
  margin-left: 180px;
  margin-top: 114px;
  background-color: #131313;
}

.request__info_title {
  margin: 0 auto;
  max-width: 297px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 39px;

  color: #ffffff;
}

.search-form__request_wrap {
  padding-left: 49px;
}

.search-form__request_input {
  width: 408px;
  height: 35px;
  border: 0;
  color: #fff;
  border-bottom: 1px solid #363636;
  background-color: transparent;
}
.search-form__request_input::placeholder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;

  color: #ffffff;
}

.search-form__request_label {
  color: #ffffff;
  font-size: 14px;
}

.name {
  margin-bottom: 48px;
}

.phone {
  margin-bottom: 48px;
}

.mail {
  margin-bottom: 17px;
}

.search-form__request_submit {
  width: 207px;
  height: 51px;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin-left: 201px;
}

.search-form__request_submit:hover {
  background: #9b7e4f;
}

.request_checkbox {
  margin-bottom: 39px;
}

.help__save {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 920px;

  height: 72px;
  padding-bottom: 242px;
}

.pig-pic {
}

.help__save_text {
  padding-top: 20px;
  font-size: 20px;
  line-height: 26px;

  color: #e3b873;

  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

/* request styles end */

/* design styles start */
.design {
  width: inherit;
  height: 864px;
  background: url(../images/jpg/design_bgr.jpg);
  margin-bottom: 110px;
  position: relative;
}

.desine__style {
  height: 864px;
  padding-top: 137px;
  padding-left: 99px;
}

.desine__style_title {
  width: 411px;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;

  color: #e3b873;
  padding-bottom: 47px;
}

.desine__style_item {
  list-style-type: none;
  padding-bottom: 14px;

  font-size: 20px;
  line-height: 38px;

  color: #fff;
}

.desine__style_item:hover {
  color: #e3b873;
  text-decoration: underline;
}

.design__photo1 {
  position: absolute;
  left: 587px;
  top: -41px;
}

.design__photo2 {
  position: absolute;
  left: 984px;
  top: -112px;
}

.design__photo3 {
  position: absolute;
  left: 587px;
  bottom: -41px;
}

.design__photo4 {
  position: absolute;
  left: 984px;
  bottom: 40px;
}

.design__wrapper {
  background: rgba(0, 0, 0, 0.75);
}

/* design styles end */

/* our client styles start */

.our-client__title {
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  padding-bottom: 15px;
}

.our-clients__pic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 27px;
}

.handshake {
  padding-left: 8px;
  padding-right: 8px;
}

.our-client__text {
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #363636;
  padding-bottom: 39px;
}

.our-client__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 54px;
  margin: 0 103px;
  padding-bottom: 382px;
}

.our-client__card {
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.our-client__card_about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  padding-left: 23px;
}

.our-client__fhoto {
  border-radius: 50px;
}

.our-client__name {
  font-family: serif;
  padding-top: 15px;
  width: 188px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #181818;
  padding-left: 23px;
}

.our-client__review {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 180%;
  color: #959595;
  padding: 22px 32px 63px 23px;
}

.our-client__card_info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2px;
  margin-bottom: -27px;
}

.apartment-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 135px;
  height: 54px;
  background: #e3b873;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.apartment-term {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 158px;
  height: 54px;
  background: #e3b873;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.apartment-data {
  font-family: serif;
  font-weight: bold;
  padding-left: 15px;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 15px;
}

.area_pic {
  padding-left: 17px;
}

.term_pic {
  padding-left: 17px;
}

/* our client styles end */

/* MAP styles start */

.map {
  position: relative;
  width: 100%;
  height: 953px;
  background: url(../images/jpg/map_bgr.jpg);
}

.map__wrapper {
  background: rgba(0, 0, 0, 0.75);
}

.questions {
  position: absolute;
  width: 883px;
  height: 445px;
  background: #181818;
  margin-left: 288px;
  margin-top: -222px;
}

.questions__title {
  display: flex;
  justify-content: center;
  font-family: serif;
  font-weight: bold;
  padding-top: 34px;
  padding-bottom: 45px;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;

  color: #ffffff;
}

.search-form__questions_wrap {
  width: 516px;
  margin: 0 auto;
}

.search-form__questions_personal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 48px;
}

.search-form__questions_personal_data {
  width: 231px;
  height: 32px;
}

.search-form__questions_label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.search-form__questions_input {
  border: 0;
  border-bottom: 1px solid #363636;
  background-color: transparent;
  padding-bottom: 8px;
  color: #fff;
}

.search-form__questions_input::placeholder {
  font-size: 14px;
  color: #fff;
}

.search-form__question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 52px;
}

.question_checkbox {
  margin-left: 290px;
  background: #e3b873;
  margin-bottom: 50px;
}

.search-form__question_submit {
  display: flex;
  justify-content: center;
}

.search-form__question_submit {
  margin: 0 auto;
  width: 200px;
  height: 51px;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  font-size: 12px;
  color: #ffffff;
  padding-top: 15px;
}

.search-form__question_submit:hover {
  background: #9b7e4f;
}

.ROSTOV-ON-DONE__title {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  width: 589px;
  font-family: serif;
  font-weight: bold;
  padding-top: 274px;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #e3b873;
  padding-bottom: 26px;
}

.ROSTOV-ON-DONE__pic {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  padding-bottom: 30px;
}

.map__street {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* MAP styles end */
